<h3>Welcome, <%= current_user.username %></h3>    


<h4>You have hired:</h4>

<p><% @u.team.ringer_teams.each do |rt| %></p>
    <p><%= rt.ringer.name %></p> <p>Hired on: <%= rt.game_day.to_s %></p>
    <form action="/ringer_teams" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="ringer_id" value="<%= rt.ringer_id %>%">
        <input type="submit" value="Terminate contract">
    </form> 
<% end %>

<h4>Here are our list of Ringers:</h4>
<ul>
<% Ringer.all.each do |r|%>
    <li><a href="/ringers/<%= r.id %>"><%= r.name %></a></li>
<% end %>
</ul>


<form action="/logout" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
</form>
